<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mlb.mapper.MemberMapper">

    <select id="findByMemberId" resultType="com.project.mlb.dto.member.MemberInfoDTO">
        select * from MEMBER where id = #{memberId}
    </select>

    <insert id="signUp" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO MEMBER(login_id, password, name, nickname, email, phone_number)
        VALUES (#{loginId}, #{password}, #{name}, #{nickname}, #{email}, #{phoneNumber})
    </insert>
</mapper>